# MLP to Transform Flags to Target Class

Using the 4 separate flags `mobile_money`,`savings`,`borrowing` & `insurance`, predict  `mobile_money_classification`.

In [11]:
import pandas as pd

from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss

In [2]:
df = pd.read_csv('../../data/raw/training.csv', index_col=0)
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,Q8_3,...,Q17,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
ID,,,,,,,,,,,,,,,,,,,,,
5086,98,2,3,1,1,2,2,0,0,0,...,-1,4,4,-4.460442,29.811396,0,0,0,0,0
1258,40,1,1,3,5,1,1,1,0,0,...,4,1,4,-6.176438,39.244871,1,1,1,0,3
331,18,2,4,6,3,2,1,0,0,0,...,-1,1,1,-6.825702,37.652798,1,0,0,0,2
6729,50,1,1,3,1,1,1,0,0,0,...,-1,1,4,-3.372049,35.808307,1,0,1,0,3
8671,34,1,1,1,1,2,1,0,1,0,...,-1,1,4,-7.179645,31.039095,1,1,0,1,3

In [5]:
X = df[['mobile_money','savings','borrowing','insurance']]
y = df['mobile_money_classification']

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [21]:
model = MLPClassifier(hidden_layer_sizes=(100,4))

model.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100, 4), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [22]:
preds = model.predict(X_test)
probs = model.predict_proba(X_test)

In [23]:
score = log_loss(y_test, probs)
print(score)

0.001427972689470776

In [24]:
model.score(X_test, y_test)

1.0