In [13]:
import os
import pandas as pd
import numpy as np

from src.utils import make_sub

In [2]:
!ls ../../data/submissions

baseline.csv     wild_shot.csv    wild_shot_2.csv  xgb_baseline.csv

In [20]:
submissions = ['baseline.csv', 'xgb_baseline.csv', 'xgb_baseline_tuned.csv']

subs_data = []
for submission in submissions:
    fpath = os.path.join('../../data/submissions', submission)
    sub_df = pd.read_csv(fpath, index_col=0)
    print('loaded',fpath)
    subs_data.append(sub_df.values)

loaded ../../data/submissions/baseline.csv
loaded ../../data/submissions/xgb_baseline.csv
loaded ../../data/submissions/xgb_baseline_tuned.csv

In [21]:
mean_probs = np.stack(subs_data, axis=0).mean(axis=0)

sub_df = make_sub(mean_probs)

sub_df.head()

      no_financial_services  other_only   mm_only   mm_plus
2352               0.000764    0.001190  0.215858  0.782189
8208               0.021741    0.049291  0.149398  0.779570
2785               0.001499    0.013961  0.118010  0.866531
2967               0.383097    0.528678  0.022458  0.065767
1697               0.000616    0.001663  0.104073  0.893648

In [22]:
sub_df.to_csv("../../data/submissions/mean_stacked.csv")